<p>Dear <%= @employee.name %>,</p>

<p>We hope this email finds you well.</p>

<p>Please find attached your payslip for <strong><%= Date.today.strftime("%B %Y") %> </strong></p>

<p>Best Regards,</p>
<p><strong>HR Team</strong></p>
<p><em>Daycrop Technology</em></p>
